#Code {
  .grid-container {
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .list {
    grid-column: span 3;
    
    &__section {
      margin-bottom: 2rem;

      &__name {
        margin-bottom: .75rem;
        font-size: 1.25rem;
        color: $blue;
      }

      &__element {
        &.active {
          color: $blue;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    ul {
      margin-left: 2rem;
    }
  }

  .code-item {
    grid-column: span 9;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 100px);
    transition: opacity 0.2s;
    opacity: 0;

    &.appear {
      opacity: 1;
      transition: opacity 0.2s;
    }

    &.hide {
      opacity: 0;
      transition: opacity 0.2s;
    }

    &__icon {
      grid-column: span 6;
      grid-row: span 4;
      // background-color: $black;
      // padding: 3rem 1rem;

      &__level {
        height: auto;
        margin-bottom: 1rem;
      }

      &__image {
        width: 90%;
        max-height: 80%;
      }
    }

    &__description {
      grid-column: span 6;
      grid-row: span 4;
      padding: 2rem;
    }
  }
}
