.arrowDownIcon,
.arrowUpIcon {
  svg {
    height: 7rem;
  }
}

.pointIcon {
  svg {
    height: 1.1rem;
    margin-bottom: 6.9rem;
  }
}

.arrowDownLink {
  position: absolute;
  bottom: 0;

  .triangle {
    transition: all ease .5s;
  }

  &:hover {
    .triangle {
      // transform: translateY(15px);
      // transition: all ease .5s;
      animation: arrowAnimation .7s ease infinite;
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;

  nav {
    position: absolute;
    right: 0;
    padding: 2rem 4rem;

    ul {
      list-style: none;
    }

    .nav-link {
      color: $blue;
      display: block;
      margin: 5px;
      text-decoration: none;
      font: 1.25rem CamingoCode-Bold;
      transition: all .5s ease;
    }

    [class*='bracket'] {
      transition: all ease .6s;
    }

    &:hover {
      cursor: pointer;

      .point{
        @for $i from 0 through 2 {
          &-#{$i + 1}{
            animation: bounce 1s ease #{$i * 80}ms infinite;
          }
        }
      }

      [class*='bracket'] {
        transition: all ease 1s;
      }

      .bracket-open {
        transform: translateX(-15px);
        transition: all ease .6s;
      }

      .bracket-close {
        transform: translateX(15px);
        transition: all ease .6s;
      }

    }

    .bracketIcon {
      height: 35px;
    }

    .pointIcon {
      height: 12px;
      margin: 1px;
    }

    &.open {

      .menuIcon {
        opacity: 0;
        width: 0;
        transition: all .1s ease;
      }

      .menuArray {
        opacity: 1;
        width: 500px;
        transition: all 1.5s ease;
        overflow: hidden;
      }
    }

    &.closed {
      .nav-link {
        margin: 0;
        transition: all 1s ease;
      }

      .menuArray {
        width: 0;
        opacity: 0;
        transition: all .8s ease;
        overflow: hidden;
      }

      .menuIcon {
        opacity: 1;
        width: auto;
        transition: all .5s ease 1s;
      }
    }
  }

}