.arrowDownIcon {
  svg {
    height: 7rem;
  }
}

.arrowDownLink {
  position: absolute;
  bottom: 0;

  .triangle {
    transition: all ease .5s;
  }

  &:hover {
    .triangle {
      // transform: translateY(15px);
      // transition: all ease .5s;
      animation: arrowAnimation .7s ease infinite;
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;

  nav {
    position: absolute;
    right: 0;
    padding: 2rem 4rem;
    transition: all ease 1s;

    &:hover {
      cursor: pointer;

      .pointIcon {
        &:nth-child(1) {
          animation: bounce .5s ease 0 infinite;
        }

        &:nth-child(2) {
          animation: bounce .5s ease .3 infinite;
        }

        &:nth-child(3) {
          animation: bounce .5s ease .6 infinite;
        }
      }
    }

    .bracketIcon {
      height: 35px;
    }

    .pointIcon {
      height: 12px;
      margin: 1px;
    }
  }

}