#Contact {
  .console {
    background-color: rgba($color: $gray, $alpha: .1);
    padding: 1.8rem;
    width: 50%;

    .input-group {
      margin-bottom: 2px;
      width: 100%;

      * {
        vertical-align: top;
      }
    }

    input,
    textarea {
      resize: none;
      width: 80%;
      font-family: CamingoCode-Reg;
      background-color: rgba($color: #dbdbdb, $alpha: .1);
      border: 0;
      color: #dbdbdb;
      padding: 1px 5px;
    }

    textarea {
      height: 6rem;
    }
  }
}
