#Services {
  .content {
    perspective: 1000px;
  }
}

.service-container {
  width: 25%;
  border: 1px $black solid;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;

  img {
    width: auto;
    height: 300px;
    margin-bottom: 3rem;
  }

  .front {
    z-index: 2;
    background-color: $gray;
    width: 100%;
    padding: 1rem;
  }

  .back {
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
    background-color: $gray;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
  }

  &:hover {
    transform: rotateY(180deg);
  }
}