#Services {
  .content {
    perspective: 1000px;
    padding-top: 2rem;
  }
  // background-color: $black;
}

.service-container {
  width: 25%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  border: 1px $blue solid;
  // border-top: 1px $blue solid;
  // border-bottom: 1px $blue solid;
  // box-shadow: 5px 5px 5px rgba($color: $blue, $alpha: .3);

  img {
    width: auto;
    height: 300px;
    margin-bottom: 3rem;
  }

  .front {
    height: 100%;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    // background-color: $black;
    backface-visibility: hidden;
  }

  .back {
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    color: $gray;
    background-color: $black;
    backface-visibility: hidden;
  }

  &:hover {
    transform: rotateY(180deg);
  }
}
